.cart-back{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    transition: .5s;
}

.cart-back.active{
    opacity: 1;
    pointer-events: all;
}

.toggle-cart,
.toggle-payment{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index: 101;
    overflow-y: auto;
    transition: .5s;
    display: flex;
}
.toggle-cart.active,
.toggle-payment.active{
    transform: translateX(0);
}